@font-face {
  font-family: norse-bold;
  src: url(Norse-Bold.otf);
}

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-header > p,
.form-body > p {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0;
}

.form-footer > p {
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: rgb(15, 67, 179);
  font-weight: bold;
}

label {
  font-size: 0.75em;
  font-weight: 550;
  letter-spacing: 0.2em;
}

body {
  display: flex;
  min-height: 100vh;
  margin: 0;
}

/* === CONTAINER STYLE === */

.logo-container {
  display: flex;
  width: 500px;
  height: 100vh;

  background: url(norse_background.jpg) no-repeat center;
  background-size: cover;
}

.logo-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;

  margin-top: 25vh;

  background: #00000080;
}

.logo-body img {
  height: 80%;
}

.logo-body h1 {
  font-family: Norse-Bold;
  font-size: 100px;
  color: white;
}

/* === FORM STYLE === */

.form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 1.5em 3em;
}

.form-container > div:nth-child(odd) {
  background-color: rgb(245, 245, 245);
}

.form-header {
  justify-content: flex-end;
  gap: 3em;
}

.form-body {
  display: flex;
  justify-content: space-around;
}

.form-body form {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.form-column,
.form-row {
  display: flex;
}
.form-row {
  flex-direction: row;
  gap: 5em;
}

.form-column {
  flex-direction: column;
}

input {
  font-size: 1em;

  border: 1px solid #E5E7EB;
  border-radius: 5px;

  height: 20px;
  width: 250px;
  padding: 5px 10px;
}

input:focus {
  outline: none;
  border: 1px solid rgb(27, 99, 253);
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
  height: 55px;
  width: 250px;
  border-radius: 10px;
  border: 0px;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);

  background-color:rgb(15, 67, 179);
  font-size: 1.25em;
  font-weight: bold;
  color: white;

  transition: 0.1s all;
}

button[type="submit"]:hover {
  cursor: pointer;
  background-color:rgb(21, 87, 230);
  box-shadow: 0.3 0.3 0.3 rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

button[type="submit"]:active {
  transform: scale(0.98);
  box-shadow: 01. 0.1 0.1 rgba(0, 0, 0, 0.2);
}